* {
  padding: 0;
  box-sizing: border-box;
}
ul {
  display: inline-block;
}
li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}
h3 {
  display: inline-block;
}
nav {
  background-color: bisque;
  width: 100%;
  border: 2px solid cadetblue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar_left {
  display: inline-block;
}
#navbar_right {
  display: inline-block;
  text-align: right;
}
a {
  text-decoration: none;
  color: black;
}
a :hover {
  color: beige;
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  #hamburger div{
    width: 30px;
    height: 4px;
    background-color: black;
    margin-top: 5px;
  }
}
