* {
  box-sizing: border-box;
}
.first {
  height: 100vh;
  background-color: rgb(119, 77, 35);
}
.card_container {
  width: 300px;
  height: 670px;
  border: 7px solid rgb(92, 78, 41);
  border-radius: 2.5%;
  -webkit-box-shadow: 5px 5px 18px 5px rgba(230, 225, 91, 0.5);
  box-shadow: 5px 5px 18px 5px rgba(230, 225, 91, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(110, 13, 37);
}
.description {
  width: 90%;
  background-color: aliceblue;
  margin: 2.6%;
  border: 4px inset;
}
#card-image {
  width: 95%;
  background-color: aliceblue;
  border-radius: 2%;
  margin: 2.6%;
}
.image {
  background-color: aliceblue;
}
.stats {
  margin: 2.6%;
  color: aliceblue;
}
a {
  color: darkgoldenrod;
}
