$primary-color: red;
$secondary-color: blue;
$tertiary-color: green;

.container {
  max-width: 100ch;
  margin: 0 auto;
  border: 1px solid $primary-color;
  h1 {
    color: $tertiary-color;
    text-decoration: 1px underline $secondary-color;
    text-align: center;
  }
}
section {
  display: flex;
  padding: 20px;
  article {
    border: 1px solid $tertiary-color;
    padding: 10px;
    p {
      text-align: center;
    }
    &:nth-child(odd) {
      color: $secondary-color;
    }
    &:nth-child(even) {
      color: $primary-color;
    }
  }
}
