#green {
  grid-area: header;
}
#yellow {
  grid-area: content1;
}
#red {
  grid-area: content2;
}
#blue {
  grid-area: right-side;
}
#orange {
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "content1 content2 right-side"
    "footer footer right-side";
}
#yellow ul {
  display: grid;
  grid-template-areas: "li li" "li li";
}
#red ul {
  display: grid;
  grid-template-areas: "li li" "li li";
}
