* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
div {
  border: 1px solid rgb(128, 128, 128, 40%);
  text-align: center;
}
.grid_container {
  border: solid;
  border-radius: 7px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(5, minmax(60px, 1fr));
  width: 320px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.operator {
  background-color: rgba(46, 80, 94, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  grid-column: 1 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: rgb(81, 81, 81);
  color: white;
  font-size: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.equal {
  grid-row: 3 / span 4;
  grid-column: 4;
  background-color: #ff9500;
}
.ac,
.punto{
    display: flex;
    justify-content: center;
    align-items: center;
}