.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background-color: cadetblue;
  padding: 20px;
}

.logo-placeholder {
  width: 200px;
  height: 100px;
  background-color: #ccc;
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

nav a {
  color: #2b2b2b;
  text-decoration: none;
  margin: 10%;
}

nav a:hover {
  color: #2b2bb2;
  transition: 0.3s;
  display: flex;
  flex: 1;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.user-info img {
  width: 80px;
  height: 80px;
  border-radius: 70%;
  margin-bottom: 10px;
}

.user-info h3 {
  margin: 0;
  font-size: 18px;
  font-style: normal;
}
